 <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/dancesnitch.jpg", class: "img-circle")%><!--img class="img-responsive" src="img/profile.png"--> <alt="">
                    <div class="intro-text">
                        <h1 class="name">D.J.B Portfolio</h1>
                        <hr class="star-light">
                        <span class="skills" id="subtitle">Web Developer <br/>
                        Full Stack Programmer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://solucentinc.com" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="container" width="100%">
                                    <img src="https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/solucent_shop.jpg" alt=" solucent_shop">
                                </div>
                            </div>
                            <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/solucent_home.jpg")%><!--img src="img/portfolio/game.png"--><class="img-responsive" alt="solucent_home">
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://robustahealth.com" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="container" width="100%">
                                    <img src="https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/robustahealth_shop.jpg" alt="robusta_health">
                                </div>
                            </div>
                            <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/robustahealth_home.jpg")%><!--img src="img/portfolio/game.png"--><class="img-responsive" alt="solucent_home">
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://jamecapital.com" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <%=image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/jamecapnew.png")%><!--img src="img/portfolio/cabin.png"--><class="img-responsive" alt="Gentlemen Of York">
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="col-sm-2 offset-3">           
        <div class="container">
            <div class="col-sm-12">
                <h4>Recent Articles</h4>
                    <% @articles.each do |a| %>
                    Created by: <%= a.user.username %><br/>
                    <strong><%= link_to a.title, a %></strong>
                    <p><%= truncate(a.body) %></p>
                    <% end %>
            </div>    
        </div>
    </section> 