 <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("profile.png")%><!--img class="img-responsive" src="img/profile.png"--> <alt="">
                    <div class="intro-text">
                        <h1 class="name">D.J.B Portfolio</h1>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Full Stack Programmer - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/gentsofyork1.png")%><!--img src="img/portfolio/cabin.png"--><class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/saas.png")%><!--img src="img/portfolio/cake.png"--><class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/saas2.png")%><!--img src="img/portfolio/circus.png"--><class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/ridgelawn1.png")%><!--img src="img/portfolio/game.png"--><class="img-responsive" alt="Game controller">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/gentsofyork4.png")%><!--img src="img/portfolio/safe.png"--><class="img-responsive" alt="Safe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/jamecap1.png")%><!--img src="img/portfolio/submarine.png"--><class="img-responsive" alt="Submarine">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="col-sm-2 offset-3">           
        <div class="container">
            <div class="col-sm-12">
                <h4>Recent Articles</h4>
                    <% @articles.each do |a| %>
                    Created by: <%= a.user.username %><br/>
                    <strong><%= link_to a.title, a %></strong>
                    <p><%= truncate(a.body) %></p>
                    <% end %>
            </div>    
        </div>
    </section> 